.footer{
	margin-top: 75px;
	background:url(../img/icons/bgr-footer.jpg) no-repeat;
	height: 530px;
	.footer-content{
		padding-top: 70px;
	}
	.footer-address{
		font-weight: asap;
		color: #ffffff;
		b{
			font-size: 19px;
		}
		p{
			font-size: 16px;
			padding-top: 20px;

		}
		.fa{
			padding-right: 10px;
		}
	}
	.footer-product{
		padding-left: 100px;
		color: #ffffff;
		b{
			font-size: 19px;
		}
		li{
			a{
			font-size: 16px;
			color: #ffffff;
			}
			padding-top: 20px;
		}
		.link-boder{
			a{
			border-bottom: solid 1px #ffffff;
			}
		}

	}
	.footer-link{
		padding-left: 50px;
			b{
				font-size: 19px;
				color: #ffffff;
			}
			.link-right{
				padding-left: 0;
				padding-top: 25px;

				img{
					padding-left: 5px;
				}
			}
	}
	.clear{
		padding-top: 40px;
		border-bottom: solid 1px #4b579b;
	}
	.footer-map{
		padding-top: 40px;

		.text-right{
			margin-top: -55px;
		}
		.map-content{
			color: #ffffff;
			line-height: 30px;
		}
		.icon-ship{
			padding-top: 10px;
		}
		.ship-content{
			color: #ffffff;
			line-height: 30px;
		}

	}
	.copy-right{
		color: #ffffff;
		font-size: 14px;
		line-height: 60px;
	}
}
@media only screen and (max-width: 1199px){
	.footer{
	background:url(../img/icons/bgr-footer.jpg) no-repeat;
	height: 756px;
	background-size: 100% 100%;

		.footer-product{
			padding-left: 0;
		}
		.footer-link{
			padding-left: 0;
			text-align: center;
		}
	}
}
@media only screen and (max-width: 990px){
	.footer{
	background:url(../img/icons/bgr-footer.jpg) no-repeat;
	height: 820px;
	background-size: 100% 100%;
	}
}
@media only screen and (max-width: 660px){
	.footer{
		.footer-logo{
			img{
				width: 50px;
				height: 60px;
			}

		}
		.footer-address{
			b{
				font-size: 14px;
			}
			p{
				font-size: 12px;
			}
		}
		.footer-product{
			b{
				font-size: 14px;
			}
			li a{
				font-size: 12px;
			}
		}
		.footer-map{
			img{
				width: 33px;
				height: 50px;
			}
			b{
				font-size: 14px;
			}
			p{
				font-size: 12px;
			}
		}
	}
}	


@media (max-width: 768px){
	.footer {
    height: 1088px;
    background-size: 100% 100%;
	}
	.footer-logo {
		text-align: center;
	    
	}
	.footer-address{
		padding-top: 20px;
		text-align: center;
	}
	.footer-product{
		padding-top: 20px;
		margin-left: 10px;
		text-align: center;
	}
	.footer-link{
		padding-top: 20px;
		text-align: center;
	}

}
@media only screen and (max-width: 400px){
	.footer{
		background:url(../img/icons/img-400.png) no-repeat;
		background-size: 100%;
		height: 1088px;
		.footer-logo{
			width: 100%;
			text-align:  center;
			img{
				width: 110px;
				height: 122px;
			}

		}
		.footer-address{
			width: 100%;
			padding-top: 30px;
			padding-left: 0;
			b{
				font-size: 18px;
			}
			p{
				font-size: 14px;
			}
		}
		.footer-product{
			width: 100%;
			padding-top: 30px;
			b{
				font-size: 18px;
			}
			li a{
				font-size: 14px;
			}
		}
		.footer-link{
			width: 100%;
			padding-top: 30px;
		}
		.footer-map{
			padding-left: 0;

			.col-xs-6{
			width: 100%;
			padding: 0;
		}
		.map{
			padding-left: 0;

			.icon-map{
				padding: 0;
			}

			.map-content{
			padding: 0;
			}
		}
		.ship{
			padding: 0;

			.icon-ship{
				padding: 0;
			}
			.ship-content{
				padding: 0;
			}
		}
		}
		
	}
	.buttom-header{
		display: none;
	}	
}