.title-advisory-wrap {
	text-align: center;
	.title-advisory {
		font-family: 'Asap';
    	font-weight: 700;
    	font-size: 40px;
	}

	.decs-advisory {
		font-family: 'Quicksand';
    	font-weight: 300;
    	font-size: 20px;
	}
}

@media only screen and (max-width: 425px) {

			.title-advisory-wrap .title-advisory {
				font-size: 30px;
			}
			.title-advisory-wrap .decs-advisory {
    			font-size: 16px;
    		}
}