.mxd-header-border{
	height: 40px;
	border-bottom: 1px solid #f2f2f2;
}

.mxd-header--title {
	p{
		line-height: 39px; 
		font-family: 'Quicksand'; 
		font-size:14px; 
		font-weight: 500;
	}
}

.mxd-header-menu {
	li {
		margin-top: 10px;
		font-family: 'Quicksand'; 
		font-size:14px; 
		font-weight: 500;
		display: inline-block;
		padding:0;
		border-right: 1px solid #c7c7c7;
		text-align: center;
		a {
			color: #393939;
			text-decoration: none;
			&:hover {
				color: red;
			}
		}
	}
	li:last-child{
		border-right: none;
	}
}