.mxd-contact-header {
	margin-top: 20px;
	.wrap {
		width: 15%;
		.contact-logo{
		padding-top: 14px;
		}
	}
	
	.contact-hot {
		.contact-hl {
			.media {
				padding-top: 41px;
				.media-left{
					padding-top: 3px;
				}
				.media-body{
					.media-heading {
						font-family: 'asap';
						font-weight: 700;
						font-size: 16px;
						text-align: left;
					}

					.media-num {
						font-family: 'asap';
						font-weight: 700;
						font-size: 16px;
						text-align: left;
						line-height: 7px;
						color: red;
					}
				}
			}
		}
	}

	.language-ic {
		    float: right;
			padding-top: 50px;
			h4{
				font-family: 'quicksand';
				font-weight: 500;
				font-size: 14px;
				padding-top: 3px;
			}
		}
}
.media-object{
	float: left;
}
.media-right{
	i{
		padding-left: 5px;
	}
}

@media only screen and (max-width: 768px){
  .wrap-language{
  	padding: 0;
  }
  .mxd-contact-header .wrap {
    width: 100%;
    text-align: center;
}
}

@media only screen and (max-width: 664px){
	.mxd-contact-header {
    margin: 0;
    width: 75%;
    /* margin-top: -11px; */
    float: left;
    	.wrap{
    		z-index: 1;
    		.contact-logo{
    			img{
    				width: 50px;
    				height: 60px;
    			}
    		}
    	}
    	.wrap-language{
    		z-index: 1;
    		width: 58%;
    	}
	}
	.contact-hot{
		display: none;
	}
	.mxd-contact-header .wrap {
    width: 37%;
    text-align: center;
	}
	.wrap-language{
		width: 70%
	}
	.text-right{
		display: none;
	}
	.mxd-contact-header .language-ic {
    padding-top: 25px;
	}
}
@media only screen and (width: 320px){
	.mxd-contact-header .wrap {
	    width: 30%;
	    
	}
}