.nav-header{
	margin-top: 15px;
	width: 100%;
	height: 70px;
	font-family: 'Asap', sans-serif;
	&--navbar{
		margin: 0;
		background-color: #283890;
		height: 100%;

		.nav-header--brand{
			height: 100%;
			.nav-header--collapse{
			width: 100%;
			height: 100px;

				ul{
					
					li{
						height: 100%;
						a{
							line-height: 38px;
							font-size: 16px;
							color: #ffffff;
						}
						a:hover{
							background-color: #d02128;
							color: #ffffff;
						}
						.dropdown-menu{
							li {
								padding-top: 9px;
								a{
									color: black;
								}
								a:hover{
									color: red;
									background: none;
								}
								b{
									font-size: 16px;
								}
							}
						}

					}
				}

			}

			.dropdown{
				height: 265px;
				position: unset;
			}
		}
	}
}
// update style nav
.navbar-default .navbar-nav > li.dropdown:hover > a, 
.navbar-default .navbar-nav > li.dropdown:hover > a:hover,
.navbar-default .navbar-nav > li.dropdown:hover > a:focus {
    background-color: #d02128;
	color: #ffffff;
}
li.dropdown:hover > .dropdown-menu {
    display: block;
}
.dropdown-menu li a{
	color: black;
}
#bs-example-navbar-collapse-1{

  }
.dropdown-menu{
 width: 100%;
  position: absolute;
}
.title-hover{
	padding-top: 11px;
}
.nav-search{
	font-family:quicksand;
	padding-top: 80px;
	border: unset;
	font-size: 20px;
	padding-right: 0;
	input{
		border:unset;
	}
}
.nav-header-exi{
	padding-left: 0;
	padding-top: 160px;
	font-size: 16px;
	font-family:quicksand;
	span{
		color: red;
	}
	.but-exi{
		border:unset;
		background-color: unset;
	}
}

.hover{
	width: 98%;
	height: 100%;
	float: left;
}
#bs-example-navbar-collapse-1 {
    float: left;
    width: 99%;
}
.right-search {
    width: 1%;
    height: 100%;
    float: left;
}
.navbar-default .navbar-nav > li > a {
    color: #fdf6f6;
    font-size: 16px;
}
.right-search ul li a {
    line-height: 38px;
}
.nav-header--navbar .nav-header--brand {
    position: relative;
    height: 100%;
}
@media only screen and (max-width: 764px){
	.navbar-nav {
    background-color: #283890;
	}
	#bs-example-navbar-collapse-1 {
		position: relative;
	    z-index: 1000;
	    margin-top: -71px;
    	width: 70%;
	    ul{
	    	li:hover{
	    		a:focus{
	    			background-color: red;
	    			color:#fff;
	    		}
	    	}
	    }
	}
	.nav-header--navbar .nav-header--brand .dropdown {
    height: auto;
    position: unset;
	}
	.nav-header--collapse ul li {
    height: auto;
	}

	.nav-header--navbar .nav-header--brand .nav-header--collapse {
    height: auto;
	}

	li.dropdown:hover > .dropdown-menu {
    background-color: #fff;
	}

	.nav-search {
	    text-align: center;
	    padding-top: 23px;
	    padding-right: 0;
	}

	.nav-header-exi {
	    padding-top: 40px;
	    text-align: center;
	}
	.nav-header--navbar .nav-header--brand {
    	height: 100%;
    	padding-top: 7px;
	}
	.nav-header--navbar {
    background-color: #fff;
    height: 100%;
	}
	.navbar-default {
     border-color: #fff; 
	}
	.nav-header{
		padding-top: 0;
	}
	.navbar-right{
    background-color: #fff;
	}
	.right-search {
    width: 6%;
    float: left;
    height: auto;
    padding-left: 77%;
    margin-top: -135px;
    	.text-right{
    		display: block;
    	}
    	.navbar-right{
    		li{
    			.dropdown-right{
    				position: absolute;
    			}
    		}
    	}
	}
	.navbar-default .navbar-nav > li > a {
    color: #060606;
	}

	.navbar-default .navbar-toggle {
    background-color: #283891;
	}

	.navbar-default .navbar-nav > li.dropdown:hover > a:hover,
	.navbar-default .navbar-nav > li.dropdown:hover > a:focus {
	    background-color: #ffffff;
		color: red;
	}
	.navbar-default .navbar-nav > li.dropdown:hover > a, .navbar-default .navbar-nav > li.dropdown:hover > a:hover, .navbar-default .navbar-nav > li.dropdown:hover > a:focus {
	    background-color: #efebec;
	    color: #ea0606;
	}

  }
.caret{
	margin-left: 10px;
}
@media only screen and (width: 768px){
	.nav-header--navbar .nav-header--brand {
    padding: 0;
    width: 100%;
    height: 100%;
    margin: 0;
	}
	#bs-example-navbar-collapse-1 {
    padding: 0;
    margin: 0;
	}
	.nav-header--navbar .nav-header--brand .nav-header--collapse ul li a {
    font-size: 14px;
	}
	.nav-header--navbar .nav-header--brand .nav-header--collapse ul li a {
    padding-left: 13px;
	}
	.navbar-right {
     margin-right: 0;
	}
}
@media only screen and (width: 320px){

	.right-search {
	    padding-left: 73%;
	}
}