.pro-menu {
  margin-top: 44px; }
  .pro-menu .nav {
    padding-left: 290px; }
    .pro-menu .nav li a {
      color: black;
      font-family: 'Asap';
      font-size: 20px; }
      .pro-menu .nav li a:hover {
        background: white;
        color: #cf2127; }
  .pro-menu .nav {
    margin: 0 auto; }
  .pro-menu .text-pro-menu {
    text-align: center;
    font-family: 'Quicksand';
    font-size: 20px; }
